node_modules
.env
*.log
*.sublime-project
*.sublime-workspace
couchdb.stdout
couchdb.stderr
.DS_Store
test1.coffee
test2.coffee
test3.coffee
reports/**
run-reports.sh
src/coffee_logs
src/coffee_logs/*
src/foo.coffee
nohup.out
src/dataTools/records
src/dataTools/todoRecords
*~
_*.json
package-lock.json
**/TestMe.coffee
src/scripts
Profiling/results*
src/Onboard/wendys/wendys.csv
src/Onboard/sampleHubLog.csv
src/Onboard/mcdonalds/mcdonalds.csv
src/Onboard/mcdonalds/mcd.csv
**/mcd.csv
src/testV.coffee
.vscode
.cache
